<div id="<%= dom_id article %>">
  <h3 class="mt-12 font-medium text-4xl">
    <%= article.topic %>
  </h3>
  <p class="my-5">
    <%= article.body %>
  </p>
  <% if article.images.attached? %>
    <div class="my-5">
      <div class="flex flex-row overflow-x-auto">
      <% article.images.each do |image| %>
        <%= image_tag image, class: "w-96 h-64 object-cover m-1 rounded-lg border-[0.5px] border-gray-400 flex-shrink-0" %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
