<div class="justify-center items-center">
  <div class="flex gap-1 items-center">
    <%= icon('fa-solid', 'home', 'Home#index')%>
  </div>
  <p class="text-red-950">Find me in app/views/home/index.html.erb</p>
</div>
